.line {
    font-size: 32px;
    opacity: 1;
}

.line1 {
    fill: #0066FF;
}

.label {
    font-size: 24px;
    color: #333;
}

.svg {
    position: relative;
    font-size: 12px;
    font-family: 微软雅黑;
    width: 100%;
    min-height: 100%;
    padding-top: 152px;
}

.info-card {
    position: fixed;
    z-index: 5;
}

.form-subway {
    position: fixed;
    width: 100%;
    z-index: 100;
}

@media screen and (max-width: 550px) {
    .svg {
        width: 1000px;
        height: 1000px;
    }
}