.svg {
    font-size: 12px;
    font-family: 微软雅黑;
    width: 100%;
    /* transform: translateX(-200px) translateY(-300px); */
}

.line {
    font-size: 32px;
}

.line1 {
    fill: #0066FF;
}

.label {
    font-size: 24px;
    color: #333;
}

.form-subway {
  position: fixed;
  width: 100%;
}